<div class="join">
    <div class="join-container">
        <form @submit="onSubmit" id="join-form">
            <div class="inner-container">
                <div>
                    <p><label>아이디</label></p>
                    <input :class="{success : msgOption[0] == STATE_CODE.SUCCESS}"  id="userId" type="text" @blur="() => {onBlur(0)}" v-model="userId" placeholder="영문자로 시작하는 6 ~ 12자리 아이디" autocomplete="off"/>
                    <span class='fail' v-if="msgOption[0] == STATE_CODE.REQUIRED">{{JoinMsg.REQUIREED}}</span>
                    <span class='fail' v-if="msgOption[0] == STATE_CODE.NOT_VALID">{{JoinMsg.ID_MSG}}</span>
                </div>
                <div>
                    <p><label>비밀번호</label></p>
                    <input :class="{success : msgOption[1] == STATE_CODE.SUCCESS}" id="userPw" type="password"  @blur="() => {onBlur(1)}" v-model="userPw"  autocomplete="off" placeholder="대소문자, 숫자, 특수문자 가 포함되는 8 ~ 16 자리 비밀번호"/>
                    <span class='fail' v-if="msgOption[1] == STATE_CODE.REQUIRED">{{JoinMsg.REQUIREED}}</span>
                    <span class='fail' v-if="msgOption[1] == STATE_CODE.NOT_VALID">{{JoinMsg.PASS_MSG}}</span>
                </div>

                <div>
                    <p><label>비밀번호 확인</label></p>
                    <input :class="{success : msgOption[2] == STATE_CODE.SUCCESS}" id="userPwConfirm" type="password"  @blur="() => {onBlur(2)}" v-model="userPwConfirm" autocomplete="off" />
                    <span class='fail' v-if="msgOption[2] == STATE_CODE.REQUIRED">{{JoinMsg.REQUIREED}}</span>
                    <span class='fail' v-if="msgOption[2] == STATE_CODE.NOT_VALID">{{JoinMsg.PASS_NOT_CONFIRM}}</span>
                </div>
                <div>
                    <p><label>이름</label></p>
                    <input :class="{success : msgOption[3] == STATE_CODE.SUCCESS}" id="userNm" type="text" v-model="userNm"  @blur="() => {onBlur(3)}" autocomplete="off"/>
                    <span class='fail'v-if="msgOption[3] == STATE_CODE.REQUIRED">{{JoinMsg.REQUIREED}}</span>
                </div>

                <div class="btn-form">
                    <button class="submit" >가입</button>
                    <button @click="onReset" class="cancel" >취소</button>
                </div>
            </div>
        </form>
    </div>
</div>
