<div class="login">
    <div class="login-container">
        <form @submit="onSubmit" id="login-form" action="post">
            <div class="inner-container">
                <div>
                    <p><label>아이디</label></p>
                    <input :class="{success : msgOption[0] == 0}"  id="userId" type="text" @blur="() => {onBlur(0)}" v-model="userId" placeholder="영문자로 시작하는 6 ~ 12자리 아이디" autocomplete="off"/>
                    <span class='fail' v-if="msgOption[0] == 1">{{JoinMsg.REQUIREED}}</span>
                    <span class='fail' v-if="msgOption[0] == 2">{{JoinMsg.ID_MSG}}</span>
                </div>
                <div>
                    <p><label>비밀번호</label></p>
                    <input :class="{success : msgOption[1] == 0}" id="userPw" type="password"  @blur="() => {onBlur(1)}" v-model="userPw"  autocomplete="off" placeholder="대소문자, 숫자, 특수문자 가 포함되는 8 ~ 16 자리 비밀번호"/>
                    <span class='fail' v-if="msgOption[1] == 1">{{JoinMsg.REQUIREED}}</span>
                    <span class='fail' v-if="msgOption[1] == 2">{{JoinMsg.PASS_MSG}}</span>
                </div>

                <div>
                    <p><label>비밀번호 확인</label></p>
                    <input :class="{success : msgOption[2] == 0}" id="userPwConfirm" type="password"  @blur="() => {onBlur(2)}" v-model="userPwConfirm" autocomplete="off" />
                    <span class='fail' v-if="msgOption[2] == 1">{{JoinMsg.REQUIREED}}</span>
                    <span class='fail' v-if="msgOption[2] == 2">{{JoinMsg.PASS_NOT_CONFIRM}}</span>
                </div>
                <div>
                    <p><label>이름</label></p>
                    <input :class="{success : msgOption[3] == 0}" id="userNm" type="text" v-model="userNm"  @blur="() => {onBlur(3)}" autocomplete="off"/>
                    <span class='fail'v-if="msgOption[3] == 1">{{JoinMsg.REQUIREED}}</span>
                </div>

                <div class="btn-form">
                    <button class="submit" >가입</button>
                    <button class="cancel" >취소</button>
                </div>
            </div>
        </form>
    </div>
</div>
