.studySpace {
  position: relative;
}

#main-image {
  position: relative;
  width:100%;
  text-align: center;
}

#main-image img{
  margin: 10px;
  position: relative;
  width: 80%;
  box-shadow: 1px 1px 1px 1px grey;
}

