<div class=".study-space">
    <div class="study-space-main">
        <div class="study-space-contents-img">
            <img src="@/assets/images/studyroom.jpeg">
            <div class="text" >
                <p>스터디 정보</p>
            </div>
        </div>
        <div class="study-space-contents">
            <form class="study-space-form">
                <div class="study-space-input-wrap percent-8">
                    제목 <input class="study-space-input" v-model="title" type="text"/>
                </div>
                <div class="study-space-input-wrap percent-8">
                    모임장 <input class="study-space-input" v-model="masterId" type="text"/>
                </div>
                <div class="study-space-input-wrap percent-78">
                    소개 <textarea class="study-space-textarea" v-model="description" type="text"/>
                </div>

                <div class="study-space-input-wrap percent-8" v-for="request in requests">
                    <input class="study-space-input" v-model="request.user.userId" type="text"/>
                    <template v-if="masterId === loginUserId">
                        <div v-if="request.approved === 'OK'">
                            <button @click="studyApproveCancel($event, request.user.userId)" v-model="request.user.userId" class="success">가입거절</button>
                        </div>
                        <div v-if="request.approved !== 'OK'">
                            <button @click="studyApprove($event, request.user.userId)" v-model="request.user.userId" class="success">가입승인</button>
                        </div>
                    </template>
                    <template v-if="masterId !== loginUserId">
                        <div v-if="request.approved == 'REQUEST'">
                            <button @click="studyRequestCancel" class="success">가입취소</button>
                        </div>
                    </template>
                </div>

                <div v-if="masterId !== loginUserId">
                    <button @click="studyRequest" class="success">가입요청</button>
                </div>

            </form>
        </div>
    </div>
</div>

